.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.m-r-10 {
  margin-right: 10px;
}

.example-h2 {
  margin: 10px;
}

.pt-container {
  width: 90%;
  margin: auto;
  margin-top: 5px;
}
